// Many of these are from W3Schools https://www.w3schools.com
html, body {
  background-color: #aaa;
  font-family: Sans-Serif;
}

.chipContainer {
    width: 200px;
}

.chip {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #bbb;
}

.chip div {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FF0000
}

.card {
    width: 200px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardContainer {
    position: relative;
    z-index: 2;
    padding: 2px 16px;
    background-color: #000;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    font-size: 50px;
    text-align: center;
    padding: 25% 0;
}

canvas {
  background-color: #000;
  border: 1px solid black;
}

#uiContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.gman-slider-label {
  float: left;
  gbackground-color: green;
}
.gman-slider-value {
  float: right;
  gbackground-color: blue;
}
.gman-slider-upper {
  gbackground-color: yellow;
  height: 1.5em;
}
.gman-slider-outer {
  gbackground-color: purple;
  height: 2.5em;
}
.gman-slider-slider {
  font-size: x-small;
  gbackground-color: red;
}

/* styles to apply if in an iframe */

body.iframe {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.iframe>.description {
  display: none;
}

.iframe>canvas {
  width: 100%;
  height: 100%;
}

.iframe canvas {
  border: none;
}

.iframe>#example {
  width: 100%;
  height: 100%;
}

